.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.titleContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-family: 'Comfortaa', sans-serif;
    text-transform: lowercase;
    color: #ffffff;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.inputContainer > .errorLabel {
    color: red;
    font-size: 12px;
}

.inputBox {
    height: 45px;
    width: 300px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid grey;
    padding-left: 8px;
}

.linkContainer {
    font-size: 12px;
    margin: 20px;
}

.resultContainer, .historyItem { 
    display: flex;
    flex-direction: row;
    width: 400px;
    align-items: center;
    justify-content: space-between;
}

.historyContainer {
    display: flex;
    flex-direction: column;
    height: 200px;
    align-items: center;
    flex-grow: 5;
    justify-content: flex-start;
}

.pageContainer {
    display: flex;
    justify-content: space-evenly;
}